#
# Syntax and details are here: https://help.github.com/articles/about-codeowners/
#
# Global code ownership, fallback
*                   @kad @mythi @bart0sh @rojkov

# CI and building
.github/workflows/  @rojkov @bart0sh @kad @mythi
Jenkinsfile         @rojkov @bart0sh @kad @mythi
Makefile            @rojkov @bart0sh @kad @mythi
/build/             @rojkov @bart0sh @kad @mythi
/scripts/           @rojkov @bart0sh @kad @mythi

# Binaries
/cmd/               @rojkov @bart0sh
/cmd/fpga_tool/     @bart0sh @kad @rojkov
/cmd/gpu_plugin/    @rojkov @bart0sh @uniemimu
/cmd/qat_plugin/    @rojkov @mythi
/cmd/vpu_plugin/    @rojkov @mythi
/cmd/dlb_plugin/    @bart0sh @hj-johannes-lee

# Framework
/pkg/               @rojkov @bart0sh
/pkg/topology/      @bart0sh @kad

# Deployments
/deployments/       @rojkov @bart0sh @mythi

# Demos
/demo/              @rojkov @bart0sh @mythi @kad

# e2e testing
/tests/e2e/         @rojkov

# New dependencies review
/go.sum              @kad @mythi @bart0sh @rojkov
/go.mod              @kad @mythi @bart0sh @rojkov
