*~
*.swp
\#*#

coverage.html
coverage.txt

cmd/fpga_admissionwebhook/fpga_admissionwebhook
cmd/fpga_crihook/fpga_crihook
cmd/fpga_plugin/fpga_plugin
cmd/fpga_tool/fpga_tool
cmd/gpu_plugin/gpu_plugin
cmd/qat_plugin/qat_plugin

*.h
*.gbs
*.gbs.*
*.aocx
*.aocx.*
