name: e2e-qat4
on:
  workflow_dispatch:
  schedule:
    - cron: '20 3 * * *'
  pull_request:
    branches:
      - main
      - 'release-*'
  push:
    branches:
      - main
      - 'release-*'

env:
  IMAGES: 'intel-qat-plugin intel-qat-initcontainer openssl-qat-engine'

permissions:
  contents: read

jobs:
  e2e-qat4:
    name: e2e-qat4
    runs-on: [self-hosted, linux, x64, dsa]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Describe test environment
        run: |
          echo "Event name: ${{ github.event_name }}"
          echo "Actor: ${{ github.actor }}"
          echo "Ref: ${{ github.ref }}"
          echo "SHA: ${{ github.sha }}"
          echo "Images: $IMAGES"
      - name: Wait for ready state
        run: ../../../../bmetal/actions-bmetal-runstage.sh waitready
      - name: Prepare test environment
        run: ../../../../bmetal/actions-bmetal-runstage.sh prepare
      - name: Run tests
        run: ../../../../bmetal/actions-bmetal-runstage.sh test
