name: build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  image:
    name: Build image
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        image:
          - intel-gpu-fakedev
          - intel-gpu-initcontainer
          - intel-gpu-plugin
          - intel-gpu-levelzero
          - intel-qat-initcontainer
          - intel-qat-plugin
          - intel-deviceplugin-operator
          - intel-sgx-admissionwebhook
          - intel-sgx-plugin
          - intel-sgx-initcontainer
          - intel-dsa-plugin
          - intel-iaa-plugin
          - intel-idxd-config-initcontainer
          - intel-npu-plugin

          # # Demo images
          - crypto-perf
          - accel-config-demo
          - intel-opencl-icd
          - openssl-qat-engine
          - sgx-sdk-demo
          - sgx-aesmd-demo
          - dsa-dpdk-dmadevtest
          - intel-npu-demo
        builder: [buildah, docker]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: go.mod
          check-latest: true
      - run: make -e vendor
      - name: Build image
        env:
          IMAGE_NAME: ${{ matrix.image }}
          BUILDER_NAME: ${{ matrix.builder }}
        run: |
          make ${IMAGE_NAME} BUILDER=${BUILDER_NAME}
  imageubi:
    name: Build UBI image
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        image:
          - intel-gpu-plugin
          - intel-qat-initcontainer
          - intel-qat-plugin
          - intel-deviceplugin-operator
          - intel-sgx-plugin
          - intel-sgx-initcontainer
          - intel-dsa-plugin
        builder: [docker]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: go.mod
          check-latest: true
      - run: make -e vendor
      - name: Build image
        env:
          IMAGE_NAME: ${{ matrix.image }}
          BUILDER_NAME: ${{ matrix.builder }}
        run: |
          make ${IMAGE_NAME} BUILDER=${BUILDER_NAME} UBI=1