name: e2e
on:
  workflow_call:

permissions:
  contents: read

jobs:
  e2e:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: e2e-spr
            targetjob: e2e-spr
            runner: spr
            skip: App:compress-perf
            images:
              - intel-qat-plugin
              - intel-qat-initcontainer
              - openssl-qat-engine
              - accel-config-demo
              - intel-deviceplugin-operator
              - crypto-perf
              - intel-sgx-plugin
              - intel-sgx-initcontainer
              - intel-sgx-admissionwebhook
              - sgx-sdk-demo

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    env:
      TARGET_JOB: ${{ matrix.targetjob || matrix.name }}
      IMAGES: ${{ join(matrix.images, ' ') }}
      SKIP: ${{ matrix.skip || '' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          fetch-depth: 0
      - name: Describe test environment
        run: |
          echo "Event name: ${{ github.event_name }}"
          echo "Actor: ${{ github.actor }}"
          echo "Ref: ${{ github.ref }}"
          echo "SHA: ${{ github.sha }}"
          echo "Images: $IMAGES"
          echo "Target job: $TARGET_JOB"
      - name: Run e2e tests
        run: ./test/e2e/scripts/run.sh
