name: publish
on:
  workflow_call:
    inputs:
      image_tag:
        default: "devel"
        required: false
        type: string
      registry:
        default: "docker.io/intel"
        required: false
        type: string
env:
  no_base_check: "['intel-idxd-config-initcontainer', 'crypto-perf', 'opae-nlb-demo', 'intel-gpu-levelzero']"

permissions:
  contents: read
  id-token: write

jobs:
  av_database:
    name: Download AV database
    runs-on: ubuntu-22.04
    steps:
      - name: Install clamav and update databases
        run: |
          sudo apt-get update -y
          sudo apt-get -y --no-install-recommends install clamav ca-certificates
          sudo systemctl stop clamav-freshclam.service
          sudo freshclam
      - name: Cache clamav databases
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /var/lib/clamav
          key: clamav-${{ github.run_id }}
  image:
    name: Build image
    needs: av_database
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        image:
          - intel-gpu-initcontainer
          - intel-gpu-plugin
          - intel-gpu-levelzero
          - intel-qat-initcontainer
          - intel-qat-plugin
          - intel-deviceplugin-operator
          - intel-sgx-admissionwebhook
          - intel-sgx-plugin
          - intel-sgx-initcontainer
          - intel-dsa-plugin
          - intel-iaa-plugin
          - intel-idxd-config-initcontainer
          - intel-npu-plugin
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: go.mod
          check-latest: true
      - run: make -e vendor
      - name: Build image
        env:
          IMAGE_NAME: ${{ matrix.image }}
        run: |
          ORG=${{ inputs.registry }} TAG=${{ inputs.image_tag }} make ${IMAGE_NAME} BUILDER=docker
      - name: Trivy scan for image
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
        with:
          scan-type: image
          image-ref: ${{ inputs.registry }}/${{ matrix.image }}:${{ inputs.image_tag }}
          exit-code: 1
      - name: Prepare cache directory
        run: |
          sudo mkdir -p /var/lib/clamav
          sudo chmod a+rwx /var/lib/clamav
      - name: Retrieve AV database
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /var/lib/clamav
          key: clamav-${{ github.run_id }}
      - name: Malware scan
        env:
          FULL_IMAGE: ${{ inputs.registry }}/${{ matrix.image }}:${{ inputs.image_tag }}
          IMG_FILE: ${{ matrix.image }}-${{ inputs.image_tag }}.tar
        run: |
          sudo apt-get update -y
          sudo apt-get -y --no-install-recommends install clamav ca-certificates
          sudo systemctl stop clamav-freshclam.service
          sudo freshclam
          docker save $FULL_IMAGE -o $IMG_FILE
          clamscan $IMG_FILE
      - name: Test image base layer
        # Don't run base layer check for selected images
        if: ${{ !contains(fromJson(env.no_base_check), matrix.image) }}
        run: IMG=${{ inputs.registry }}/${{ matrix.image }}:${{ inputs.image_tag }} make test-image-base-layer BUILDER=docker
      - name: Login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      - name: Push
        run: docker push ${{ inputs.registry }}/${{ matrix.image }}:${{ inputs.image_tag }}
      - name: Get image digest
        if: ${{ inputs.image_tag != 'devel' }}
        id: digest
        run: |
          echo "image_sha=$(docker inspect --format='{{index .RepoDigests 0}}' ${{ inputs.registry }}/${{ matrix.image }}:${{ inputs.image_tag }})" >> $GITHUB_OUTPUT
      - name: Install cosign
        if: ${{ inputs.image_tag != 'devel' }}
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad #v4.0.0
      - name: Keyless image sign
        if: ${{ inputs.image_tag != 'devel' }}
        run: |
          cosign sign --yes ${{ steps.digest.outputs.image_sha }}
