name: trivy
on:
  workflow_call:
    inputs:
      upload-to-github-security-tab:
        default: false
        required: false
        type: boolean
      export-csv:
        default: false
        required: false
        type: boolean
      deployments:
        default: true
        required: false
        type: boolean
      dockerfiles:
        default: true
        required: false
        type: boolean

permissions:
  actions: read
  contents: read

jobs:
  trivy-scan-deployments:
    name: Scan deployments
    if: ${{ inputs.deployments }}
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
    - name: Run Trivy in config mode for deployments
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: config
        scan-ref: deployments/
        exit-code: 1
        severity: CRITICAL,HIGH
        # When trivy-action starts supporting this, use it instead of .trivyaction
        # https://github.com/aquasecurity/trivy-action/issues/284
        #ignorefile: .trivyignore.yaml

  trivy-scan-dockerfiles:
    name: Scan Dockerfiles
    if: ${{ inputs.dockerfiles }}
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
    - name: Run Trivy in config mode for dockerfiles
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: config
        scan-ref: build/docker/
        exit-code: 1
        severity: CRITICAL,HIGH

  trivy-scan-licenses:
    runs-on: ubuntu-24.04
    name: Scan licenses
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
    - name: Run Trivy in fs mode
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: fs
        scan-ref: .
        exit-code: 1
        scanners: license
        severity: "UNKNOWN,MEDIUM,HIGH,CRITICAL"

  trivy-scan-vulns:
    permissions:
      security-events: write
    runs-on: ubuntu-24.04
    name: Scan vulnerabilities
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
    - name: Run Trivy in fs mode
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: fs
        scan-ref: .
        exit-code: 1
        list-all-pkgs: true
        format: table
