name: Trivy vuln scan to Github Security
on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  trivy-scan-vulns:
    permissions:
      security-events: write
      actions: read
    runs-on: ubuntu-24.04
    name: Scan vulnerabilities
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
    - name: Run Trivy in fs mode
      # Don't fail in case of vulnerabilities, report them in the next step
      continue-on-error: true
      uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
      with:
        scan-type: fs
        scan-ref: .
        exit-code: 1
        list-all-pkgs: true
        format: sarif
        output: trivy-report.sarif
    - name: Upload sarif report to GitHub Security tab
      uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v3
      with:
        sarif_file: trivy-report.sarif
